@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

#root {
  width: 100%;
  min-height: 100vh;
}